[submodule "public/vendors/chessboardjs"]
	path = public/vendors/chessboardjs
	url = https://github.com/oakmac/chessboardjs.git
[submodule "public/vendors/chess.js"]
	path = public/vendors/chess.js
	url = https://github.com/minnaing/chess.js.git
